<h1>Toaster Notifications</h1>
<div class="flex">
  
  <button type="button" (click)="success()" class="btn btn-success" style="margin-left:10px;">success</button>
  <button class="btn btn-danger" (click)="error()"style="margin-left:10px;">Error</button>
  <button class="btn btn-primary" (click)="info()"style="margin-left:10px;">Info</button>
  <button class="btn btn-dark" (click)="warn()"style="margin-left:10px;">Warn</button>
  <button class="btn btn-light" (click)="clear()" aria-label="clear all"style="margin-left:10px;">X</button>
</div>
<div class="toast-container absolute bottom-2 right-2">
  <app-toast></app-toast>
</div>