<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/message">
          <i class="fa fa-envelope-o">
            <span class="badge badge-danger">0</span>
          </i>
          Messages
        </a>
      </li>
      <li class="nav-item dropdown">
        <a (click)="notifSeen()" class="nav-link" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i id="notificationsIcon" class="fa fa-bell-o" >
            <span class="badge badge-danger">{{unSeenNotifications.length}}</span>
            
           </i>
           Notification
          </a>
          <div  class="dropdown-menu" aria-labelledby="dropdown01">
            <a *ngFor="let  eq of notifications" class="dropdown-item"> {{eq.text}}</a>
            
            
          </div>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

</nav>
