<div id="Global">
  <div id="gauche">

  
<h1>Catalog</h1>


  <div class="container">
    <h2>Equipements List</h2>
     <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Maximum</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
            <tr *ngFor="let  eq of Equipements">
                    <td>
                        {{eq.id}}
                    </td>
                    <td>
                        {{eq.name}}
                    </td>
                    <td>
                        {{eq.description}}
                    </td>
                    <td>
                      {{eq.quantity}}
                  </td>
                  <td>
                    {{eq.max}}
                </td>
               
              <td>
                
                  <button type="button" (click)="onAddClick(eq)" class="btn btn-success">add to your cart</button>
              </td>
                  </tr>
      </tbody>
    </table>
  </div>
</div>

  <div id="droite">
    <app-panier  [selectedEquipements]="selectedEquipements" ></app-panier>
  </div>
</div>